
/* Estilo básico y centrado para el pie de página */
#footer {
    background-image: url(../assets/banner-pie-de-pagina-web.png);
    padding: 40px 0;
    text-align: center;
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    z-index: -1;
}

/* Media Queries para ajustar el footer en pantallas más pequeñas */
@media (max-width: 768px) {
    #footer {
        padding: 1.5em 0; /* Menos padding en pantallas más pequeñas */
        font-size: 0.9em; /* Tamaño de fuente más pequeño */
    }
}

@media (max-width: 480px) {
    #footer {
        padding: 1em 0; /* Aún menos padding en pantallas muy pequeñas */
        font-size: 0.8em; /* Tamaño de fuente aún más pequeño */
    }
}

/* Ajuste de texto en pantallas más pequeñas */
@media (max-width: 576px) {
    #footer {
        font-size: 12px;
        position: relative;
    }
}
@media (max-height: 760px) {
    #footer {
        font-size: 12px;
        position: relative;
    }
}

.bienvenida {
    background-image: url(../assets/cintillo.png);
    color: #ffffff;
    background-size: cover;
    padding: 3% 20px;
}

